@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container{
    background-color: black;
    height: 100vh;
    width: 100vw;
}
.sideBar{
    background-color: rgb(21, 21, 21);
    width: 20vw;
    height: 100vh;
    position: fixed;
}
.coinTossContainer{
    margin: 2vh;
    background-color: rgb(57, 20, 20);
    width: 15vw;
    height: 25vh;
    padding: 2vh;
    border-radius: 5px;
    border: solid 5px rgb(77, 25, 25);
    position: absolute;
    display: inline;
}

.coinTossContainer p{
    color: white;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}

.coinTossForm{
    height: 5vh;
}

.coinTossButton{
    height: 5vh;
}

.coinTossOutput{
    height: 15vh;
}

.coinTossContainer #coin{
    align-self: center;
    font-family: "Poppins", sans-serif;
    height: 5vh;
    width: 15vw;
    background-color: rgb(147, 55, 55);
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 1.1em;
    border: 0;
    border-radius: 5px;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
}

#coinFlipped{
    margin-top: 2vh;
}

.coinTossContainer button{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    height: 5vh;
    margin-top: 1vh;
    width: 15vw;
    padding: 1vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-left: 3.7vw;
    padding-right: 3.7vw;
    border: 0;
    border-radius: 5px;
    display: flex;
}

.logContainer{
    margin: 2vh;
    margin-top: 35vh;
    background-color: rgb(57, 20, 20);
    width: 15vw;
    height: 45vh;
    padding: 2vh;
    border-radius: 5px;
    border: solid 5px rgb(77, 25, 25);
    position: absolute;
    display: inline;
}

.sideBar #reset{
    margin: 3.5vh;
    margin-top: 89vh;
    font-family: "Poppins", sans-serif;
    margin-bottom: 1vh;
    background-color: rgb(147, 55, 55);
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 1.1em;
    border: 0;
    border-radius: 5px;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
}

#credits{
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    align-self: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 1vh;
    opacity: 50%;
}

.mainGame{
    background-image: url(mainBG.png);
    background-size: cover;
    width: 80vw;
    height: 100vh;
    margin-left: 20vw;
}

.healthBars{
    width: 80vw;
    height: 35vh;
    display: flex;
}

.playerHPBar{
    width: 30vw;
    height: 29vh;
    background-image: url(pHPBar.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2.5vh;
    margin-left: 2.5vh;
}

.opponentHPBar{
    width: 30vw;
    height: 29vh;
    background-image: url(oHPBar.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2.5vh;
    margin-left: 35vh;
}

.mainLog{
    background-image: url(actions.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15vh;
    margin-left: 1vw;
    width: 80vw;
    height: 44vh;
}